:root{
    --Dark-grey: #1F1F1F;
    --Off-Black: #141414;
    --Green: #C4F82A;
    --Grey: #333333;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--Off-Black);
    font-family: "Inter", sans-serif;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

a{
    color: white;
}
.background-Cuadrado {
    width: 380px;
    text-align: center;
    background-color: var(--Dark-grey);
}

.background-Cuadrado h3,
.background-Cuadrado h4,
.background-Cuadrado p {
    padding: 10px;
    font-size: 14px;
}

.background-Cuadrado h3 {
    color: white;
}

.background-Cuadrado h4 {
    color: var(--Green);
}

.background-Cuadrado p {
    color: white;
    font-weight: 400;
}

.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-image img{
    padding-top: 15px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}


.button-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 15px;
}

.button-hover{
    width: 300px;
    background-color: var(--Grey);
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5%;
}
.button-hover:hover{
    background-color: var(--Green);
}

a:hover{
    color: #000;
}